body {
  background-color: lightgreen;
}
ul {
  list-style-type: none;
}
.wrapper {
  background-color: lightgreen;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
}

/* .grid {
  background-color: red; 
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / span 2;
}; */


